#   ____  ____   _____               
#  / __ \|  _ \ / ____|              
# | |  | | |_) | |     ___  _ __ ___ 
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 2 ## Sæt antal slots 
set steam_webApiKey "" ## Sæt din Steam WebAPI key her
sets tags "default, deployer, qbcore, qb-core"

## You MAY edit the following:
sv_licenseKey "" ## Sæt din licensekey her (eUp KeY...)
sv_hostname "Qbus built with QBCore Framework by JericoFx & Kakarot & Hamy!"
sets sv_projectName "[QBCore Framework] Qbus"
sets sv_projectDesc "An advanced FiveM RP framework including jobs, gangs, housing & more!"
sets locale "dk-DK" 
load_server_icon myLogo.png
set mysql_connection_string "mysql://root@localhost/QBCore?charset=utf8mb4"
sets banner_detail "https://cdn.discordapp.com/attachments/756678169893011476/898898512647950346/Banner.png"
sets banner_connecting "https://cdn.discordapp.com/attachments/756678169893011476/898898512647950346/Banner.png"
set Discord "https://discord.gg/dkfivem"

set sv_master1 "" ## Sæt # foran hvis du ønsker at den skal være på listen

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# QBCore & Extra stuff
ensure oxmysql
ensure qb-core
ensure [qb]
ensure [standalone]
ensure [voice]
ensure [maps]
ensure [biler]

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:660997 group.admin #Walt0001
add_principal identifier.steam:11000010208ce7e gruop.admin #NicoDK6400#0001